:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --acent-color: #2196F3;
    --white-color: #FFFFFF;
    --header-footer-color: #2F303A;
    --black-color: #000000;
    --gray-color: #F5F4FA;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --title-size: 36px;
    --text-size: 14px;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.body {
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: var(--text-size);
}

